<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Book name {{ object.book_name }} </h1>
    <a href= "{% url 'books-list'  %}">Books list</a></br>
    {{ object.book_description|default : "There is no description" }} </br>
    <h2></h2>
    <ul>
        {% for author in object.authors.all %}
            <li> {{ author }} </li>
        {% endfor %}
    </ul>
    {{ object.author }} </br>
    {{ object.genre_type }} </br>
    {{ object.age }} </br>
    {{ object.publishing }} </br>
    {{ object.rating|default : "-" }} </br>
    {{ object.created }} </br>
    {{ object.updated }} </br>
</body>
</html>