<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Author name {{ object.name }} </h1>
    <a href= "{% url 'authors-list'  %}" > Authors list </a> </br>

    {{ object.description | default : "There is no description" }} </br>
    <h2></h2>
    <ul>
        {% for values in object.Value.all %}
            <li> {{ values }} </li>
        {% end/for %}
    </ul>

    {{ object.created }} </br>
    {{ object.updated }} </br>
</body>
</html>