</head>
<body>
    <h1>{{ pk }}</h1>
    <table border = "1">
        <tr>
            <td>#</td>>
            <td>book_name</td>
            <td>book_description</td>
            <td>authors</td>
            <td>genres</td>
            <td>ages</td>
            <td>publishings</td>
            <td>rating</td>
            <td>created</td>
            <td>updated</td>
            <td>actions</td>
        </tr>
        {% for book in books %}
            <tr>
                <td> {{ book.pk }} </td>
                <td> <a href= "{% url 'book-detail' book.pk %}"> {{ book.book_name }} </a></td>
                <td> {{ book.book_description }} </td>
                <td> {{ book.authors.all|length }} </td>
                <td> {{ book.genres.all|length }} </td>
                <td> {{ book.ages.all|length }} </td>
                <td> {{ book.publishings.all|length }} </td>
                <td> {{ book.created }} </td>
                <td> {{ book.updated }} </td>
                <td> 
                    <a href= "{% url 'book-create' book.pk %}"> Create </a>
                    <a href= "{% url 'book-delete' book.pk %}"> Delete </a>
                    <a href= "{% url 'book-update' book.pk %}"> Update </a>  
                </td>
            </tr>
        {% endfor %}   
    </table>
</br>
</br>
    <a href "{% url 'book-create' %}"> Add book </a>
</body>
</html>