{% extends "references/list_template.html" %}

{% block title %}
    Episodes
{% endblock title %}

{% block page_header %}
    Episodes
{% endblock page_header %}

{% block dict_actions %}
    <a title="Edit" href="{% url 'references:series-update' object.pk %}"><i class="bi bi-pencil-square"></i></a>
    <a title="Delete" href="{% url 'references:series-delete' object.pk %}"><i class="bi bi-trash"></i></a>
{% endblock dict_actions %}

{% block dict_create %}
    <a href="{% url 'references:series-create' %}" class="btn btn-primary" >Add</a><br><br>
{% endblock dict_create %}