{% extends "base.html" %}

{% block title %} 
{{ page_title }}
{% endblock title %}

{% block main_content %}  
<div class="card" style="width: 18rem;">
    <img src="{{ object.pic.url}}" class="card-img-top" alt="{{object.description}}">
        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.description}}
                <ul>
                    {% for values in object.Opinion.all %}
                        <li> {{ values }} </li>
                    {% endfor %}
                </ul>
                {{ object.created }} </br>
                {{ object.updated }} </br>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
  </div>

{% endblock main_content %}
