{% extends "template_main.html" %}
{% load static %}
{% block title %}
    Basket
{% endblock title %}
{% block page_header %}
  Basket items
{% endblock page_header %}
{% block main_content %}

<br>

{% if request.session.books_in_cart %}
  <form action="{% url 'cart:update-cart' %}">
    <table class="table table-sm table-striped table-hover">
      <thead class="table-primary text-center align-middle">
        <th></th>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Total price</th>
        <th></th>
      </thead>
      <tbody>
        {% for book in object.books_in_cart.all %}
          <tr class="align-middle">
            <td>
              <img src="/media/{{ book.book_card.picture }}" class="shadow bg-body rounded-3" style="width: 30px;" alt="...">
            </td>
            <td>
              {{ book.book_card.name }}
            </td>
            <td>
              <input class="text-center" size="5" type="number" min="0" name="{{ book.pk }}" value="{{ book.qty }}">
            </td>
            <td class="text-center">
              {{ book.price }} USD
            </td>
            <td class="text-center">
              {{ book.get_total_price }} USD
            </td>
            <td class="text-center">
              <a title="Remove" href="{% url 'cart:delete-from-cart' book.pk %}">
                <i class="bi bi-trash text-danger"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="align-middle">
          <td colspan="2"><b>Summary</b></td>
          <td class="text-center"><b>{{ object.get_books_count }}</td>
          <td></td>
          <td class="text-center"><b>{{ object.get_total_price }} USD</b></td>
          <td></td>
          </tr>
      </tfoot>
    </table>
    <br>
    <button type="submit" name="btn" value="recalculate" class="btn btn-primary">Recalculate</button>
    <button type="submit" name="btn" value="checkout" class="btn btn-success">Make order</button>
  </form>
{% else %}
  <h1 class="text-danger"><b><i>Basket is empty</i></b></h1>
{% endif %}

{% endblock main_content %}